@media only screen and (min-width: 834px) and (max-width: 1023px){
  .next{
    width: 10.2vw;
    height: 10.2vw;
    top: 60%;
    right: 44%;
  }
  .instruction{
    width: 43vw;
    height: 25vw;
    top: 30%;
    right: 28%;
  }
  .instruction p{
    font-size: 13px;
  }
  .bghi {
    background-image: url('../images/hi_ipad.svg');
  }
}
